[submodule "agdevworld"]
	path = agdevworld
	url = https://github.com/iwaag/agdevworld.git
[submodule "agforge"]
	path = agforge
	url = https://github.com/iwaag/agforge.git
[submodule "agautolab"]
	path = agautolab
	url = https://github.com/iwaag/agautolab.git
[submodule "dircommon"]
	path = dircommon
	url = https://github.com/iwaag/dircommon.git
